Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Megascans/3D_Assets/Tundra_Boulder_vixtbjsdw/S_Tundra_Boulder_vixtbjsdw_high_Var1.uasset
Content/Megascans/3D_Assets/Tundra_Boulder_vixtbjsdw/MI_Tundra_Boulder_vixtbjsdw_8K.uasset
Content/Megascans/3D_Assets/Tundra_Boulder_vixtbjsdw/T_Tundra_Boulder_vixtbjsdw_8K_D.uasset
Content/Megascans/3D_Assets/Tundra_Boulder_vixtbjsdw/T_Tundra_Boulder_vixtbjsdw_8K_N.uasset
Content/Megascans/3D_Assets/Tundra_Boulder_vixtbjsdw/T_TundraBoulder_vixtbjsdw_8K_DpRF.uasset
